$black-primary: #141414;
$blue: #0075E1;
$lime: #D5FC44;
$secondary-1: #575757;
$secondary-2: #B2B2B2;

@font-face {
    font-family: 'BebasNeue-Regular';
    font-weight: bold;
    font-style: normal;
    src: url(../BebasNeue-Regular.ttf) format('truetype');
}

$container-padding: 3em;

::-webkit-scrollbar {
    width: .9em;
}

::-webkit-scrollbar-thumb {
    background-color: $secondary-1; 
    border:white solid .3em;
    border-radius: 10px;
    &:hover {
        background-color: $black-primary; 
    }
}

a {
    text-decoration: none;
}

h3 {
    font-size: 1.2em;
    color: $black-primary;
}

ul {
    list-style-type: none;
}

.navbar-container {
    height: 100%;
    width: 35%;
    background-color: $black-primary;
    padding: $container-padding;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    .logo {
        position: absolute;
        top: 3rem;
        left: 3rem;
        color: white;
        line-height: 200%;
        font-family: 'BebasNeue-Regular';
        font-size: .7em;
        letter-spacing: .15em;
    }
    .navMenus-container {
        font-size: 1.7em;
        font-weight: 600;
        a {
            line-height: 1.8em;
            color: white;
            position: relative;
            transition: color 150ms ease-out;
            &:after {
                content: '';
                position: absolute;
                bottom: .1em;
                left: 0;
                height: .1em;
                width: 0;
                background-color: white;
                transition: 
                    width 430ms ease-in-out,
                    background-color 430ms ease-out;
            }
            &.active {
                color: $lime;
                &:after {
                    content: '';
                    position: absolute;
                    bottom: .1em;
                    left: 0;
                    height: .1em;
                    width: 100%;
                    background-color: $lime;
                    transition: width 430ms ease-in-out;
                    transition: 
                        width 430ms ease-in-out,
                        background-color 430ms ease-out;
                }
            }
        }
        li {
            color: $lime;
            &:hover a {
                color: $lime;
                transition: color 230ms ease-out;
            }
        }
    }
}

.content-container {
    height: 100%;
    width: 65%;
    padding: $container-padding;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    .heading {
        margin-bottom: 1.2em;
    }
    h3 {
        margin-bottom: .1em;
    }
    p {
        font-size: .9em;
        font-weight: 400;
        color: $secondary-1;
    }
    .submit-button {
        margin-left: auto;
        width: 9.5em;
        cursor: pointer;
        padding: .3em 0;
        border: none;
        border-radius: 3px;
        background: $black-primary;
        color: $lime;
        font-family: 'Poppins';
        font-weight: 500;
        font-size: 1.1em;
    }
    .list-container {
        flex: 1;
        overflow-y: auto;
        .upper-line {
            margin-bottom: .1em;
            h3 {
                flex: 1;
                margin: 0;
            }
            button {
                cursor: pointer;
                border: none;
                background: url(./x.svg) no-repeat;
                width: 1.5em;
                height: 1.5em;
            }
        }
        .row {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .bottom-line {
            padding-bottom: .5em;
            border-bottom: 1px solid $secondary-2;
            div {
                flex: 1;
            }
            a {
                font-size: .8em;
                color: $blue;
            }
        }
        p.p-title {
            font-weight: 600;
        }
    }
}

.form-wrapper {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .forms {
        position: relative;
        h4 {
            font-size: 1em;
            margin-bottom: .5em;
        }
        input,
        select {
            outline: none;
            border: none;
            border-bottom: 1px solid $secondary-2;
            padding-bottom: .5em;
            font-family: 'Poppins';
            font-size: 1em;
            font-weight: 500;
            width: 100%;
            color: $black-primary;
            &:hover,
            &:focus {
                border-color: $secondary-1;
            }
        }
        input {
            &::-webkit-input-placeholder {
                color: $secondary-2;
                font-weight: 400;
            }
            &[type=number],
            &::-webkit-inner-spin-button,
            &::-webkit-outer-spin-button {
                appearance: none;
            }
        }
        select {
            padding-left: 0;
            appearance: none;
            color: $black-primary;
            line-height: 1.4em;
        }
        .dropicon {
            position: absolute;
            bottom: .5em;
            right: 0;
            width: 2em;
            height: 2em;
            background: url(./chevron-down.svg) no-repeat;
        }
    }
    .short-forms {
        width: 100%;
        display: flex;
        gap: 10%;
        #duration {
            flex: 1;
            position: relative;
        }
        #duration::after {
            content: 'minute(s)';
            position: absolute;
            right: 0;
            font-size: 1em;
            font-weight: 600;
            color: $secondary-1;
        }
        #date {
            flex: 1;
            position: relative;
            .react-datepicker-wrapper {
                caret-color: transparent;
                input {
                    cursor: pointer;
                }
                width: 100%;
            }
            &::after {
                content: '';
                background: url(./calendar.svg) no-repeat;
                position: absolute;
                bottom: .5em;
                right: 0;
                width: 1.7em;
                height: 1.7em;
                pointer-events: none;
            }
        }
    }
}
